body{
    overflow-y: hidden;

}

.containeri {
    height: 100vh;
    padding: 7rem;
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-password {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.input-password input {
    width: 100%;
}

.input-password button {
    position: absolute;
    right: 10px;
    bottom: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
    align-items: center;
}

.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 4em;
    margin: auto;
    margin-top: -10px;
    border-radius: 30px;
    box-shadow: 10px  10px 50px rgba(0, 0, 0, 0.229);
    overflow:hidden;
    inset: 0;
}


.logo img {
    width: 150px;
    margin: -60px 160px; 
}

.formi * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formi{
    margin-top: 50px;
    width: 100%;
}



.formi input[type="text"]{
    padding: .7rem;
    width: 100%;
    margin-bottom: 15px;
    outline-color: #000000;
    border: solid thin #9c9696;
    border-radius: 50px;
    color: #010101;
    font-family: inherit;
    font-size: 17px;
    text-align: left;
    margin-top: 35px;
    transition: all 0.3s ease-in-out;
}
.formi input[type="password"] {
    padding: .7rem; 
    width: 100%;
    margin-bottom: 15px;
    outline-color: #000000;
    border: solid thin #9c9696;
    border-radius: 50px;
    color: #010101;
    font-family: inherit;
    font-size: 17px;
    text-align: left;
    margin-top: 20px;
    background-size: 20px 20px;
    transition: all 0.3s ease-in-out;

}

.buttons button{
    padding: .7rem;
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-family: inherit;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    background-size: 20px 20px;
    transition: all 0.3s ease-in-out;
    background-color: #000;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.buttons button:hover{
    background-color: #e9e91d;
    cursor: pointer;
}

.formi input::placeholder {
    color: #9c9696;
    text-transform: uppercase;
    font-weight: bold;
}

.opcion1{
    text-align: left;
    color: #000000;
    font-size: 16px;
    margin-top: 30px;
}
.opcion2{
    text-align: left;
    font-size: 22px;
    margin-top: 15px;
}

.formi span a {
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.formi a:hover {
text-decoration: underline;
}

.formi input[type="text"]:focus,
.formi input[type="password"]:focus {
    border-color: #000000;
    transform: scale(1.1);
}

.error-message {
color: #ff0000;
font-size: 14px;
margin-top: 5px;
}

@media screen and (max-width: 600px) {
.containeri {
padding: 3rem;
}

.formi {
padding: 2em;
}

}
