.none{
    display: none;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: auto;
    margin-top: 120px;
    width: 90%;
}

.information{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search input{
    background-color: #33333300;
    width: 250px;
    height: 40px;
    right: 715px;
    top: -48px;
    border: none;
    border-bottom: 2px solid #000;
    padding: 5px;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    margin: 10px;
    transition: all 0.3s ease;
}

.search .button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    
}

input[type = "text" ]{
    background-color: #33333300;
    width: 250px;
    height: 20px;
    right: 715px;
    top: -48px;
    border: none;
    border-bottom: 2px solid #000;
    padding: 5px;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    margin: 10px;
    transition: all 0.3s ease;
}

input:focus{
   outline: solid 2px #000;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 10 px #000;
}

.line{
    margin-top: 10px;
    border: 1px solid black;
    width: 110%;
}


.products{
    display: none;
    flex-direction: column;
    width: 320px;
    background-color: white;
    right: 240px;
    height: 300px;
    border-radius: 10px  ;
    overflow-x: auto;
    position: absolute;
    box-shadow: 0px 0px 10px 0px #000;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 0.5s;
}

.products::-webkit-scrollbar {
    width: 10px;
}

.products::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
}

.products::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
}

.products .product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid black ;
}

.product-img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.product-img img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.product-button{
    border: none;
    background-color: white;
    cursor: pointer;
    
}

.factura{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 10px;
    
}

.factura div{
    display: flex;
    flex-direction: row;
}

.factura div h3{
    padding: 2px;
    margin-right: 10px;
}

.cantidad{
    display: none;
    flex-direction: column;
    padding: 10px;
    height: 200px;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #000;
}
.cantidad h1{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -20px;
}

.cantidad #inputCantidad{
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #000;
    outline: none;
    box-shadow: 0px 0px 10px 0px #000;text-align: center;
    transition: all 0.3s ease-in-out;
    margin :20px;
}

.cantidad button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

#Productoscantidad, #nombreProducto,#precioUnidad,#precioTotal{
    display: flex;
    flex-direction: column;
}


.extradiv{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

