<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/agregarProducto.css') }}">
</head>

<body>
  <header>
      <div class="logo"></div>
      <nav>
          <a href="#">Productos</a>
          <a href="#">Ventas</a>
          <a href="#">Estadísticas</a>
      </nav>
  </header>
    <h1>EDITAR PRODUCTO</h1>
    <P>*SI CONSIDERA UNO DE LOS DATOS INECESARIO OMITALO*</P>
    <form class="formu" action="{{ url_for('editarP.editarPro') }}" method="POST" >
        <DIV class="formulario">
            <input type="text" placeholder="Nombre Del Producto" name="nombre" value="{{nombre}}"> 
            <input type="text" placeholder="Marca Del Producto" name="marca" value="{{marca}}"> 
            <input type="text" placeholder="Referencia" name="referencia" value="{{referencia}}"> 
            <input type="text" placeholder="Color" name="color" value="{{color}}"> 
            <input type="text" placeholder="Precio Base" name="precioB" value="{{precioB}}"> 
            <input type="text" placeholder="Precio Final" name="precioF" value="{{precioF}}"> 
            <input type="text" placeholder="Stock" name="stock" value="{{stock}}"> 
            <input type="text" placeholder="id" name="id" value="{{numero}}" class="id"> 
            <button class="qr">ESCANEAR CODIGO DE BARRAS</button>
            <button class="agregar" type="submit">EDITAR PRODUCTO</button>
        </DIV>
    </form>
</body>
</html>