{% for productos in productos %}
          <tr data-num="{{ productos[3] }}" data-name="{{ productos[0] }}" data-marca="{{ productos[1] }}" data-referencia="{{ productos[2] }}" data-color="{{ productos[7] }}" data-precioB="{{ productos[4] }}" data-precioF="{{ productos[5] }}" data-stock="{{ productos[6] }}">
            <td>{{ productos[3] }}</td>
            <td>{{ productos[0] }}</td>
            <td>{{ productos[1] }}</td>
            <td>{{ productos[2] }}</td>
            <td>{{ productos[7] }}</td> 
            <td>{{ productos[4] }}</td> 
            <td>{{ productos[5] }}</td> 
            <td>{{ productos[6] }}</td> 
          </tr>
{% endfor %}