<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Iniciar Sesion</title>
</head>

<body>
    <header>
        <div>
            <button id="home">
                <img src="" alt="">
                <h1>MANAGER</h1>
            </button>
        </div>
        <nav>
            <button class="reg" id="register-button" type="button">Registrarse</button>
        </nav>
    </header>
    <script>
        const register_button = document.getElementById('register-button')
        const home = document.getElementById('home')

        register_button.addEventListener('click', function () {
            window.location.href = '/register'
        })
        home.addEventListener('click', function () {
            window.location.href = '/'
        })   
    </script>
</body>

</html>