<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Negocio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/productos.css') }}">
</head>
<body class="hidden">
  <div class="preloader">
    {% include 'components/preloader.html'  %}
  </div>
  <header>
    {% include 'components/header.html'   %}
  </header>
  <div class="nombreE">
    <h1>TU NEGOCIO</h1>
  </div>
  <div class="contenido">

    <div class="categorias">
      <div class="flechas-container">
        <span class="flecha" onclick="desplazarIzquierda()">&#10094;</span> 
        <div class="categoria-container" id="listaCategorias">
          {% for i in range(1, 8 ,1) %}
          <div class="categoria">Categoría {{i}}</div>
          {% endfor %}
        </div>
        <span class="flecha" onclick="desplazarDerecha()">&#10095;</span> 
      </div>
    </div>

    <div class="productos">
      <div class="header-productos"> 
        <div class="buscador">
          <input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Buscar por nombre o código" class="busqueda">
        </div>
        <div class="opciones-productos">
          <div class="agregar"><a href="/home/productos/agregarProducto"><h1>+</h1></div></a>
          <div class="editar" id="toggleSelectBtn" onclick="toggleSelection()"><img src="{{ url_for('static', filename='img/editar.png') }}" alt=""></a></div>
          <div class="borrar" id="borrador" onclick="eliminar()"><img src="{{ url_for('static', filename='img/eliminar.png') }}" alt=""></div>
        </div>
      </div>
      <table id="numberTable">
        <thead>
          <tr>
              <th>Código de Producto</th>
              <th>Nombre</th>
              <th>Marca</th>
              <th>Referencia</th>
              <th>color</th>
              <th>Precio Base</th>
              <th>Precio</th>
              <th>Stock</th>
          </tr>
        </thead>
        <tbody id="productTableBody">
          {%include 'listaProductos.html'%}
        </tbody>
      </table>
    </div>

  </div>

  <div class="espacio">
      

  </div>

  <script>

    let seleccionActiva = false;
    let borrador = false;
        function eliminar() {
          borrador = !borrador;
          const button = document.getElementById('borrador');
          const table = document.getElementById('numberTable');
          const filas = document.querySelectorAll('tr[data-num]');

          if (borrador) {
            button.textContent = 'Desactivar selección';
            table.classList.add('active');
            filas.forEach(fila => {
                fila.classList.add('selectable');
                fila.addEventListener('click', borrarFila);
            });
        }else {
          button.textContent = 'Activar selección';
          table.classList.remove('active');
          filas.forEach(fila => {
              fila.classList.remove('selectable');
              fila.removeEventListener('click', borrarFila);
          });
      }

    }

    function borrarFila(event) {
      const numero = event.currentTarget.getAttribute('data-num');
      window.location.href = `/borrarProducto?numero=${numero}`;
  }

        function toggleSelection() {
            seleccionActiva = !seleccionActiva;

            const button = document.getElementById('toggleSelectBtn');
            const table = document.getElementById('numberTable');
            const filas = document.querySelectorAll('tr[data-num]');

            if (seleccionActiva) {
                button.textContent = 'Desactivar selección';
                table.classList.add('active');
                filas.forEach(fila => {
                    fila.classList.add('selectable');
                    fila.addEventListener('click', seleccionarFila);
                });
            } else {
                button.textContent = 'Activar selección';
                table.classList.remove('active');
                filas.forEach(fila => {
                    fila.classList.remove('selectable');
                    fila.removeEventListener('click', seleccionarFila);
                });
            }
        }

        function seleccionarFila(event) {
            const numero = event.currentTarget.getAttribute('data-num');
            const nombre = event.currentTarget.getAttribute('data-name');
            const marca = event.currentTarget.getAttribute('data-marca');
            const referencia = event.currentTarget.getAttribute('data-referencia');
            const color = event.currentTarget.getAttribute('data-color');
            const precioB = event.currentTarget.getAttribute('data-precioB');
            const precioF = event.currentTarget.getAttribute('data-precioF');
            const stock = event.currentTarget.getAttribute('data-stock');
            window.location.href = `/home/productos/editar?numero=${numero}&nombre=${nombre}&marca=${marca}&referencia=${referencia}&color=${color}&precioB=${precioB}&precioF=${precioF}&stock=${stock}`;
        }

    
    document.querySelectorAll('.categoria-nav').forEach(button => {
      button.addEventListener('click', () => {
          alert('Navegar entre categorías');
      });
    });

    function desplazarIzquierda() {
        const contenedor = document.getElementById('listaCategorias');
        const anchoCategoria = document.querySelector('.categoria').offsetWidth + 20; 
        contenedor.scrollBy({ left: -anchoCategoria, behavior: 'smooth' }); 
    }

    function desplazarDerecha() {
        const contenedor = document.getElementById('listaCategorias');
        const anchoCategoria = document.querySelector('.categoria').offsetWidth + 20; 
        contenedor.scrollBy({ left: anchoCategoria, behavior: 'smooth' }); 
    }

    function filterTable() {
        let input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toLowerCase();
        table = document.querySelector("table");
        tr = table.getElementsByTagName("tr");


        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none"; 
            td = tr[i].getElementsByTagName("td");


            for (j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        tr[i].style.display = ""; 
                        break; 
                    }
                }
            }
        }
    }
  </script>

</body>
</html>
