<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icons/icono.png') }}" type="image/x-icon">
    <title>Registrarse</title>
</head>

<body class="hidden">
    <div class="preloader">
        {% include 'components/preloader.html' %}
    </div>
    <header>
        <div>
            <button id="home">
                <img src="{{ url_for('static', filename='img/icons/icono.png') }}" alt="">
                <h1>MANAGER</h1>
            </button>
        </div>
        <nav>
            <button class="log" id="login-button" type="button">Iniciar sesión</button>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="titulo">
                <span class="logor">
                    <a href="#"><img
                            src="{{ url_for('static', filename='img/icons/ygate.png') }}"
                            alt="Y'gate"></a>
                </span>
            </div>
            <div>
                <form class="formu" action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text"  name="nombre" placeholder="Nombre de la empresa" autocomplete="off">
                        <input type="email" name="email" placeholder="Email" autocomplete="off">
                        <input type="number"  name="telefono" placeholder="Telefono" autocomplete="off">
                        <input type="text"  name="nit" placeholder="nit" autocomplete="off">
                        <input type="password"  name="contraseña" placeholder="contraseña" autocomplete="off">
                        <input type="password"  name="repetir-contraseña" placeholder="Repetir contraseña" autocomplete="off">
                        <div>
                            <input type="file" id="logo" class="custom-file-upload" accept="image/*" name="logo">
                            <span id="file-name">Logo no seleccionado</span>
                        </div>
                    </div>
                    <div class="link buttons">
                        <button type="submit">Registrarse</button>
                        <span class="opcion1"><a href="/login">¿Ya tienes cuenta? Inicia sesion</a></span>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
<script>
    const login_button = document.getElementById('login-button')
    const home = document.getElementById('home')
    login_button.addEventListener('click', function () {
        window.location.href = '/login'
    })
    home.addEventListener('click', function () {
        window.location.href = '/'
    }) 

    document.getElementById("logo").addEventListener("change", function() {
            let fileName = this.files.length > 0 ? this.files[0].name : "Ningún archivo seleccionado";
            document.getElementById("file-name").textContent = `Logo Seleccionado: ${fileName}`;
    });
</script>

</html>