<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sales.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icons/icono.png') }}" type="image/x-icon">
    <title>Estadisticas - Nombre Empresa</title>
</head>



<body class="hidden">
    <div class="preloader">
        {% include 'components/preloader.html' %}
    </div>
    <header>
        {% include 'components/header.html' %}
    </header>
    <section class="cantidad">
        <h1>Cantidad</h1>
        <input type="number" id="inputCantidad" min="1">
        <button type="button" id="button-cantidad">continuar</button>
    </section>
    <main>
        <section class="information">
            <div class="info">
                <input type="text" placeholder="Nombre del cliente" id="inputNombre" autocomplete="off">
                <input type="text" placeholder="NIT" id="inputNit" autocomplete="off">
                <input type="text" placeholder="Dirección" id="inputDireccion" autocomplete="off">
                <input type="text" placeholder="Telefono" id="inputTelefono" autocomplete="off">
            </div> 
            <div class="search">
                <input type="search" id="search" placeholder="Buscar producto" autocomplete="off">
                <div>{% include 'components/searching.html'%}</div>
                <button type="button" id="button-terminar" class="button">Terminar venta</button>
            </div>
        </section>
        <div class="line"></div>
        <section class="factura" id="factura">
            {% include 'components/factura.html'   %}
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/print-js/1.6.0/print.min.js"></script>
    <script src="{{ url_for('static', filename='js/sales.js') }}" ></script>
</body>
</html>