<head>
    <title>Factura Electronica</title>
</head>

<div class="name">
    <h3>Nombre Empresa</h3>
</div>
<div><h3># Venta</h3></div>
<div><h3 id="fecha"></h3></div>
<div><h3>Nombre Cliente:</h3><h3 id="nombreCliente"></h3></div>
<div><h3>NIT:</h3><h3 id="nit"></h3></div>
<div><h3>Telefono:</h3><h3 id="telefono"></h3></div>
<div><h3>Direccion:</h3><h3 id="direccion"></h3></div>
<div id="productos">
    <div id="Productoscantidad">
        <h3>cantidad</h3>
    </div>
    <div id="nombreProducto">
        <h3>Nombre del producto</h3>
    </div>
    <div id="precioUnidad">
        <h3>Precio unidad</h3>
    </div>
    <div id="precioTotal">
        <h3>Precio Total</h3>
    </div>
</div>
<div class="totalPagar">
    <div>
        <h3>Total a pagar:</h3>
    </div>
    <div id="totalPagar"></div>
</div>
